langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-experimental==0.0.38
langchain-google-genai==1.0.10
python-dotenv==1.0.0
streamlit==1.28.1
protobuf==3.20.3
pymysql==1.1.0
sentence-transformers==2.2.2
chromadb==0.4.15
google-generativeai==0.3.2
sqlalchemy==2.0.23
tenacity==8.2.3
